<footer class="w-full py-4 px-4">
  <div class="max-w-md md:max-w-3xl mx-auto w-full">
    <div class="flex flex-col gap-2 md:flex-row items-center justify-between">
      <div class="flex justify-center flex-col">
        <div class="frid grid-cols-2 mt-2 mb-1">
          <a href="/" class="hover:underline hover:font-bold focus:font-bold focus:outline-none selectable">Home</a>
          <a href="/about" class="hover:underline hover:font-bold focus:font-bold focus:outline-none selectable">About</a>
{#          TODO: add nav links here #}
        </div>
      </div>
      <div class="flex justify-center">
        <p>Site Main Logo</p>
      </div>
      <div>
        <p>External links</p>
      </div>
    </div>
    <div class="text-gray-800 w-full text-center mt-2">
      &#169; 2022 Rick Henry Development
    </div>
  </div>
</footer>
