<div id="thankyou">
  <p class="text-base">
    <em class="italic">Hey there! Thanks for using my little site. </em>
    If you're having trouble with it or need some additional functionality,
    <a href="//rickhenry.dev/contact" class="underline hover:underline-offset-2" target="_blank" rel="noopener noreferrer">
      send me a message</a>
    on my main website. If you really like it and want to let me know, you can send me a message too, 
    <a href="//github.com/rickh94/table-tennis-scoreboard" class="underline hover:underline-offset-2" target="_blank" rel="noopener noreferrer">
      Star me on GitHub</a>!
  </p>
</div>
