{% macro score(side) %}
    <div class="ltr flex flex-col font-sports tracking-wider mt-10 {% if side == 'left' %}border-r-2 border-black{% endif %}">
        <div class="mb-8 w-full text-3xl font-medium tracking-wider text-center md:text-5xl xl:text-7xl">
            <span class="px-8 pb-2 w-auto border-b-4 border-black"
                  x-text="$store.match.{{ side }}Name"
                  data-test="{{ side }}-name"></span>
        </div>
        <div class="flex {% if side == 'right' %}flex-row-reverse{% endif %} mx-4">
            <div class="flex-col items-center w-3/5 font-medium text-center">
                <div class="text-2xl md:text-5xl">Score</div>
                <div class="leading-none text-[15rem] font-seven md:text-[21rem]"
                     x-text="$store.match.{{ side }}Score"
                     data-test="{{ side }}-score"></div>
            </div>
            <div class="flex-col items-center w-2/5 text-center">
                <div class="text-xl font-medium tracking-wider md:text-3xl">Games</div>
                <div class="text-5xl leading-none md:text-7xl font-seven"
                     x-text="$store.match.{{ side }}Games"
                     data-test="{{ side }}-games"></div>
            </div>
        </div>
        <div class="flex col-span-full col-start-1 justify-center mt-8 text-lg font-medium tracking-wider md:text-2xl"
             x-data
             x-show="$store.state === 'game'">
            <button class="py-2 px-4 mx-4 text-black uppercase bg-white border-r-4 border-b-4 border-black active:border-r-0 active:border-b-0 active:border-t-4 active:border-l-4 font-sports border-t-1 border-l-1 selectable"
                    x-text="$store.match.{{ side }}Name + ' Scored'"
                    @click="$store.match.{{ side }}Scored()"
                    data-test="{{ side }}-button"></button>
        </div>
        <div class="flex col-span-full col-start-1 justify-center mt-8 text-2xl font-medium tracking-wider"
             x-data
             x-show="$store.state === 'correction'">
            <button class="py-2 px-4 mx-4 text-black uppercase bg-white border-r-4 border-b-4 border-black active:border-r-0 active:border-b-0 active:border-t-4 active:border-l-4 font-sports border-t-1 border-l-1 selectable"
                    data-test="{{ side }}-correction-button"
                    x-text="'Subtract point from ' + $store.match.{{ side }}Name"
                    @click="$store.match.{{ side }}Correction()"></button>
        </div>
    </div>
{% endmacro %}
