<div class="max-w-5xl mx-auto px-4 mt-8 mb-96 text-white" x-data x-show="$store.state == 'gameover'">
  <header class="w-full flex justify-center text-center">
    <h1 class="text-7xl font-bold font-sports tracking-wider" x-data x-text="$store.match.winnerText || 'Error'"></h1>
  </header>
  <div class="flex justify-center w-full text-center mt-6">
    <h4 class="text-4xl font-bold font-sports px-4 border-b-4 border-black pb-2 tracking-wider">Final Score</h4>
  </div>
  <section class="flex px-4 max-w-2xl -mt-12 mx-auto justify-center space-x-8">
    <div class="text-[22rem] font-seven" x-data x-text="$store.match.lastGame.player1score || 'Error'"></div>
    <div class="text-[22rem] font-seven">-</div>
    <div class="text-[22rem] font-seven" x-data x-text="$store.match.lastGame.player2score || 'Error'"></div>
  </section>
  <section class="mt-2 flex w-full justify-center">
    <h6 class="font-mono font-bold uppercase text-2xl text-center">Press any key to start again...</h6>
  </section>
  <section class="mx-auto mt-2 px-8 flex justify-center">
    <button class="font-mono text-2xl uppercase bg-white text-black border-t-0 border-l-0 border-b-4 border-r-4 border-black px-8 py-2 font-bold active:border-b-0 active:border-r-0 active:border-t-4 active:border-l-4 selectable"
            x-data
            @click="$store.match.newGame()"
            title="New Game"
    >New Game</button>
  </section>
</div>
