<main class="px-4 mx-auto mt-8 max-w-4xl min-h-screen text-black"
      x-data
      x-show="$store.state == 'setup'">
    <header class="flex justify-center w-full text-center">
        <h1 class="text-4xl font-normal font-sports">Setup Your Match</h1>
    </header>
    <form action="#" class="grid grid-cols-1 mt-8 md:grid-cols-2">
        <div class="flex flex-col px-4 md:px-8">
            <label for="player1_name"
                   class="font-normal tracking-wider text-black font-sports">Player 1 Name</label>
            <div class="border-2 border-transparent focus-within:border-black">
                <input type="text"
                       data-test="player1-name-input"
                       id="player1_name"
                       class="py-2 px-4 w-full font-mono uppercase bg-white border-2 border-black focus:outline-none"
                       x-data
                       x-model="$store.match.player1.name">
            </div>
        </div>
        <div class="flex flex-col px-4 md:px-8">
            <label for="player2_name"
                   class="font-normal tracking-wider text-black font-sports">Player 2 Name</label>
            <div class="border-2 border-transparent focus-within:border-black">
                <input type="text"
                       data-test="player2-name-input"
                       id="player2_name"
                       class="py-2 px-4 w-full font-mono uppercase bg-white border-2 border-black focus:outline-none"
                       x-data
                       x-model="$store.match.player2.name">
            </div>
        </div>
    </form>
    <section class="px-4 mt-4 md:px-8">
        <h4 class="mb-2 text-2xl font-normal tracking-wider font-sports">Scoring Keys</h4>
        <p class="font-mono font-bold">
            You can use this app with some sort of remote control (bluetooth
            presentation remote works well). Use the space below to configure the keys that score for
            each player.
        </p>
    </section>
    <section class="flex flex-col my-4 space-y-2 sm:flex-row sm:px-4 sm:space-y-0 sm:space-x-6">
        <div class="flex flex-col px-4 space-y-2 md:px-8">
            <h6 class="tracking-wider text-left text-black font-sports">Player 1 Key</h6>
            <div class="flex justify-start w-full">
                <div class="w-32 text-center bg-gray-200 border-2 border-black"
                     x-text="$store.config.recording === 'player1' ? 'Recording...' : $store.config.player1Key"></div>
            </div>
            <div class="flex justify-start w-full">
                <button class="py-2 px-4 font-mono font-bold text-black uppercase bg-white border-t-0 border-l-0 border-r-4 border-b-4 border-black active:border-r-0 active:border-b-0 active:border-t-4 active:border-l-4 selectable"
                        x-data
                        @click="$store.config.recordPlayer1Key()"
                        title="Record the Key that gives player 1 a point"
                        data-test="player1-keybind-button">Record Key</button>
            </div>
        </div>
        <div class="flex flex-col px-4 space-y-2 md:px-8">
            <h6 class="tracking-wider text-left text-black font-sports">Player 2 Key</h6>
            <div class="flex justify-start w-full">
                <div class="w-32 font-mono text-center bg-gray-200 border-2 border-black"
                     x-text="$store.config.recording === 'player2' ? 'Recording...' : $store.config.player2Key"></div>
            </div>
            <div class="flex justify-start w-full">
                <button class="py-2 px-4 font-mono font-bold text-black uppercase bg-white border-t-0 border-l-0 border-r-4 border-b-4 border-black active:border-r-0 active:border-b-0 active:border-t-4 active:border-l-4 selectable"
                        x-data
                        @click="$store.config.recordPlayer2Key()"
                        title="Record the Key that gives player 1 a point"
                        data-test="player2-keybind-button">Record Key</button>
            </div>
        </div>
        <div class="flex flex-col px-4 space-y-2 md:px-8">
            <h6 class="tracking-wider text-left text-black font-sports">Correction Key</h6>
            <div class="flex justify-start w-full">
                <div class="w-32 font-mono text-center bg-gray-200 border-2 border-black"
                     x-text="$store.config.recording === 'correction' ? 'Recording...' : $store.config.scoreCorrectionKey">
                </div>
            </div>
            <div class="flex justify-start w-full">
                <button class="py-2 px-4 font-mono font-bold text-black uppercase bg-white border-t-0 border-l-0 border-r-4 border-b-4 border-black active:border-r-0 active:border-b-0 active:border-t-4 active:border-l-4 selectable"
                        x-data
                        @click="$store.config.recordCorrectionKey()"
                        title="Record the Key that switches to correction mode"
                        data-test="correction-keybind-button">Record Key</button>
            </div>
        </div>
    </section>
    <section class="flex px-4 my-4">
        <div class="flex-col">
            <label for="winning_score"
                   class="mb-2 text-2xl font-normal tracking-wider font-sports"></label>
            <p class="font-mono font-bold">
                Minimum winning score for the game (can go higher depending on deuce rule). Default is 11.
            </p>
            <div class="flex mt-4">
                <button class="py-2 px-4 mr-2 font-mono font-bold text-black uppercase bg-white border-t-0 border-l-0 border-r-4 border-b-4 border-black active:border-r-0 active:border-b-0 active:border-t-4 active:border-l-4 selectable"
                        x-data
                        @click="$store.config.winningScore--">Decrease</button>
                <div class="border-2 border-transparent focus-within:border-black">
                    <div class="py-2 px-4 bg-white border-2 border-black">
                        <input type="number"
                               id="winning_score"
                               class="w-12 font-mono uppercase focus:outline-none"
                               x-data
                               x-model="$store.config.winningScore"
                               step="1"
                               min="1"
                               data-test="winning-score-input">
                        <span class="font-mono italic text-gray-800 uppercase"
                              x-data
                              @click="document.getElementById('winning_score').focus();">points</span>
                    </div>
                </div>
                <button class="py-2 px-4 ml-2 font-mono font-bold text-black uppercase bg-white border-t-0 border-l-0 border-r-4 border-b-4 border-black active:border-r-0 active:border-b-0 active:border-t-4 active:border-l-4 selectable"
                        x-data
                        @click="$store.config.winningScore++">Increase</button>
            </div>
        </div>
    </section>
    <section class="flex px-4 my-4">
        <div class="flex-col">
            <h3 class="mb-2 text-2xl font-normal tracking-wider font-sports">Switch Sides</h3>
            <p class="font-mono font-bold">
                It is traditional to switch sides between games in a match. The scoreboard can swap sides to match if you want.
            </p>
            <div class="flex items-center mt-4">
                <label for="switch_sides"
                       class="flex gap-4 items-center text-xl font-normal tracking-wider font-spots">
                    <span>Switch Sides?</span>
                    <input type="checkbox"
                           id="switch_sides"
                           class="mr-2 w-5 h-5 text-black border-2 border-black"
                           x-data
                           x-model="$store.config.switchSides"
                           data-test="switch-sides-input">
                </label>
            </div>
        </div>
    </section>
    <section class="flex px-4 my-4">
        <div class="flex-col">
            <label for="match_length"
                   class="mb-2 text-2xl font-normal tracking-wider font-sports">Match Length</label>
            <p class="font-mono font-bold">Set the number of games in a match. Must be odd. Usually five or seven.</p>
            <div class="flex mt-4">
                <button class="py-2 px-4 mr-2 font-mono font-bold text-black uppercase bg-white border-t-0 border-l-0 border-r-4 border-b-4 border-black active:border-r-0 active:border-b-0 active:border-t-4 active:border-l-4 selectable"
                        x-data
                        @click="$store.config.fewerGames()"
                        title="Reduce the number of games in a match">Fewer Games</button>
                <div class="border-2 border-transparent focus-within:border-black">
                    <div class="py-2 px-4 bg-white border-2 border-black">
                        <input type="number"
                               id="match_length"
                               class="w-12 font-mono uppercase focus:outline-none"
                               x-data
                               x-model="$store.config.matchLength"
                               @blur="$store.config.validateMatchLength()"
                               step="2"
                               min="1">
                        <span class="font-mono italic text-gray-800 uppercase"
                              x-data
                              @click="document.getElementById('match_length').focus();">games per match</span>
                    </div>
                </div>
                <button class="py-2 px-4 ml-2 font-mono font-bold text-black uppercase bg-white border-t-0 border-l-0 border-r-4 border-b-4 border-black active:border-r-0 active:border-b-0 active:border-t-4 active:border-l-4 selectable"
                        x-data
                        @click="$store.config.moreGames()"
                        title="Increase the number of games in a match">More Games</button>
            </div>
        </div>
    </section>
    <section class="flex px-8 mx-auto space-x-4">
        <button class="py-2 px-8 font-mono text-2xl font-bold text-black uppercase bg-green-600 border-t-0 border-l-0 border-r-4 border-b-4 border-black active:border-r-0 active:border-b-0 active:border-t-4 active:border-l-4 selectable"
                x-data
                @click="$store.match.saveNames(); $store.config.saveConfig(); $store.state = 'game'"
                title="Exit setup menu"
                data-test="setup-done-button">Done</button>
        <button class="py-2 px-8 font-mono text-2xl font-bold text-black uppercase bg-red-600 border-t-0 border-l-0 border-r-4 border-b-4 border-black active:border-r-0 active:border-b-0 active:border-t-4 active:border-l-4 selectable"
                x-data
                @click="$store.config.reset(); $store.match.resetConfig()"
                title="Reset to Defaults">Reset</button>
    </section>
    <div class="container mt-4 text-black">{% include "components/thankyou.njk" %}</div>
</main>
