---
title: Table Tennis Scoreboard
description: Easy to use scoreboard for table tennis or ping-pong. Track the current score and match games on one attractive screen. Jump right into a game or set it up exactly how you want iTrack the current score and match games on one attractive screen. Jump right into a game or set it up exactly how you want it.
layout: layouts/main.njk
---
{% include "components/states/game.njk" %}
{% include "components/states/setup.njk" %}
{% include "components/states/gameover.njk" %}
{% include "components/states/matchover.njk" %}

<script src="/assets/game.js"></script>
