---
title: Scoreboard
description: Scoreboard for Table Tennis/Ping-Pong
layout: layouts/main.njk
---
{% include "components/states/game.njk" %}
{% include "components/states/setup.njk" %}
{% include "components/states/gameover.njk" %}
{% include "components/states/matchover.njk" %}

<script src="/assets/game.js"></script>
<script>
  {#  TODO: figure out how to move to file. #}
</script>
